doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title paperjs
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //- link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    //- link(href='./css/main.css', rel='stylesheet', type='text/css')
    script(type="text/javascript" src='bundle.js')
    //- script(type="text/javascript" src='vendor/paper/dist/paper-full.min.js')
    script(type="text/paperscript" canvas="canvas" src='js/main.js')
  body
    h2 hello world
    //- canvas#canvas(style="height: 100vh; width:100vw")
